/* Load the Font - Montserrat for now*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');


* {
  margin: 0;
  padding: 0;
  word-wrap: 'break-word';
  user-select: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

  /* FIGMA TO REACT FROM HERE: The inherent Figma Code did not work, 
  I had to change some things with positioning 
  and with other consolidation of components */

.welcome-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #F1F0E8;
  overflow: hidden;
}

.blurbs-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #c4b0cb;
  top: 100vh;
  overflow: hidden;
}

.done-together {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #636B2F;
  font-size: 120px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 400;
  word-wrap: break-word; 
}

.success-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45%;
  color: #7A7B75;
  font-size: 40px;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  word-wrap: break-word;
  
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.button {
  width: 25%;
  height: 7%;
  position: absolute;
  background: #636B2F;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: 55%;
  color: white;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.goals, .compete, .collaborate {
  width: 50%;
  height: 50%;
  position: absolute;
  color: #636B2F;
  font-family: 'Rubik Scribble';
  font-weight: bold;
  font-size: 80px;
}

.goals {
  left: 15%;
  top: 35%;
}

.section-text-1 {
  left: 15%;
  top: 39%;
}

.collaborate {
  left: 75%;
  top: 75%;
}

.compete {
  left: 25%px;
  top: 1999px;
}

.about-us {
  width: 1034px;
  height: 156px;
  position: absolute;
  color: #636B2F;
  font-size: 128px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 400;
  left: 175px;
  top: 2512px;
}

.logo {
  width: 350px;
  height: 143px;
  position: absolute;
  color: #636B2F;
  font-size: 50px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  left: 23px;
  top: 4px;
}

.navbar {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 0 20px; 
}

.nav-button {
  width: 125px;
  height: 40px;
  margin-left: 10px;
  margin-top: 25px;
  background: rgba(99, 107, 47, 0.57);
  border-radius: 30px;
  color: black;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.section-text {
  width: 25%;
  position: absolute;
  color: #7A7B75;
  font-size: 25px;
  font-family: 'Adamina', serif;
  font-weight: 400;
  word-wrap: break-word;

}

.section-text-2 {
  left: 176px;
  top: 2105px;
}

.section-text-3 {
  left: 1107px;
  top: 1698px;
}


/* HOME PAGE ICONS */
 .home-page-arrow{
  width: 60%;
  height: 60%;
  position: absolute;
  top: 35%;
  left: -10%;
 }
  
  
  
  