/* Load the Font - Montserrat for now?*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');


* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  overflow-x: hidden;
}

  /* FIGMA TO REACT FROM HERE: The inherent Figma Code did not work, 
  I had to change some things with positioning 
  and with other consolidation of components */

.welcome-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #F1F0E8;
  overflow: hidden;
}

.blurbs-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #F1F0E8;
  top: 100vh;
  overflow: hidden;
}

.navbar {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 0 20px; 
  background-color: #636B2F;
  width: 100vw;
  height: 4vw;
}

.nav-button {
  width: 8vw;
  height: 2vw;
  background: white;
  border-radius: 30px;
  color: black;
  font-size: 1.2vw;
  font-family: 'Adamina', serif;
  font-family: 'Adamina', serif;
  font-weight: 400;
  margin: 0 5px;

  /* make TEXT within button aligned center */
  display: flex;
  justify-content: center;  
  align-items: center; 
  text-decoration: none;
}

.home-page-navbar-logo {
  width: 6.5vw;
  height: auto;
  position: absolute;
  margin-right: 92vw;
}

.home-page-logo {
  width: 25vw;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 65%;
}


.done-together {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: #636B2F;
  font-size: 9vw;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 400;
  word-wrap: break-word; 
  display: flex;
}

.success-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 47%;
  color: #7A7B75;
  font-size: 2.5vw;
  font-family: 'Adamina', serif;
  font-family: 'Adamina', serif;
  font-weight: 400;
  
  display: flex;
  justify-content: center;  
  align-items: center; 
}

.get-started-button {
  width: 25%;
  height: 7%;
  position: absolute;
  background: #636B2F;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  left: 50%;
  transform: translateX(-50%);
  top: 56%;
  cursor: pointer;

  color: white;
  font-size: 30px;
  font-family: 'Adamina';
  font-family: 'Adamina', serif;
  font-weight: 400;
  display: flex;
  justify-content: center;  
  align-items: center;   
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  
}

.goals, .compete, .collaborate {
  width: 50%;
  height: 50%;
  position: absolute;
  color: #636B2F;
  font-family: 'Rubik Scribble';
  font-weight: bold;
  font-size: 70px;
}

.goals {
  left: 15%;
  top: -1%;
}
.collaborate {
  left: 55%;
  top: 30%;
}
.compete {
  left: 15%;
  top: 62%;
}


.section-text {
  width: 30%;
  position: absolute;
  color: #7A7B75;
  font-size: 25px;
  font-family: 'Adamina', serif;
  font-weight: 400;
  word-wrap: break-word;

}

.goals-text {
  left: 15%;
  top: 12%;
}

.compete-text {
  left: 15%;
  top: 74%;
}

.collaborate-text {
  left: 55%;
  top: 40%;
}



/* HOME PAGE DRAWINGS */
 .home-page-arrow{
  width: 35vw;
  height: 30vw;
  position: absolute;
  top: 35%;
  left: 2%;
 }

 .left-petal{
  width: 11vw;
  height: 11vw;
  position: absolute;
  top: 15%;
  left: 7%;
 }

 .right-petal{
  width: 11vw;
  height: 11vw;
  position: absolute;
  top: 35%;
  right: 8%;
 }
  

  
  
  