.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  min-height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  display: none; 
}

.overlay.active {
  display: block; 
}

.pop-up {
  position: absolute;
  width: 30vw;
  height: 35vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers it vertically and horizontally */
  z-index: 2;
  border-radius: 20px;
  /*border: 2px solid red;*/
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Ensures labels and inputs do not overflow */
  overflow: hidden;
  display: flex;
  /*border: 2px solid blue;*/
}

.form-label{
  color: #000;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: Adamina;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-shrink: 1; 
  width: 100%;
}

.form-input{
  padding: 0.5vw;
  padding-top: 0.3vw; 
  margin-top: 0.5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 28vw;
  height: 2vw;
  font-family: Adamina;
  background: #D9D9D9;
  border: 0px solid;
  resize: none;
  flex-shrink: 1; 
}

.create-goal-title {
  flex-shrink: 1;
  text-align: center;
  top: 0%;
  margin-top: 1vw;
  color: #636B2F;
  font-size: 3vw;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-weight: 400;
}

.create-button {
  flex-shrink: 1;
  width: 45%;
  height: 60%;
  background: #636B2F;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1vw;
  font-family: 'Adamina';
  font-weight: 400;
  
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
  overflow: hidden;
  margin: 1vw auto; /* Centers button inside the form */
}

.exit-icon {
position: absolute;
top: 2%;
right: 3%;
font-size: 2vw;
cursor: pointer;

}

.swirly-doodle-left{
position: absolute;
width: 7vw;
height: 4vw;
top: 2%;
right: 80%;
}

.swirly-doodle-right{
position: absolute;
width: 7vw;
height: 4vw;
top: 2%;
left: 81%;
}

.form-container .arrows-container {
position: absolute; /* Position the container relative to its parent (pop-up) */
bottom: 1%; /* Adjust this value to move it closer or further from the bottom */
left: 50%;
justify-content: space-between;
transform: translateX(-50%); /* Centers it horizontally */
display: flex;
align-items: center;
width: 80%;
/* border: 2px solid green; */
}

.three-arrows-left{
width: 7vw;
height: 7vw;
top: 78%;
left: 10%;

}

.three-arrows-right{
transform: scaleX(-1);
width: 7vw;
height: 7vw;
top: 78%;
right: 10%;
}

/*envelope stuff*/

.envelope-button {
  width: 3vw;
  height: 3vw;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 6vw; /* Adjust this value to move it more or less */
}

.envelope-icon {
  width: 100%;
  height: auto;
}

.envelope-button:active .envelope-icon {
  opacity: 0.7; /* Reduces the opacity to 70% when clicked */
}



.invite-popup {
  background: #F0F2DC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.invite-popup button {
  background-color: #636B2F;
  opacity: 57%;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2vw;  /* You can adjust the font size */
}

.invite-popup {
  position: fixed;  /* Fixed position to keep it above the page content */
  top: 3.5vw;  /* Adjust this value to position it lower or higher */
  left: 75vw;
  transform: translateX(-50%);  /* Center it horizontally */
  padding: 20px;
  background: #F1F0E8;
  border-radius: 15px;
  width: 30vw;  /* Adjust width as needed */
  height: 50vh;  /* Adjust height as needed */
 
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;  /* Ensure it is above other content */
}

.users-co {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
 
  width: 100%;
   /* Ensures it's spaced below the 'You have new invites' text */
}


.collaborator-image {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

