.add-user-container{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
 

  font-family: Adamina;
  font-size: 1.1vw;

  background: #D9D9D9;
  width: 21vw;
  min-height: 3.5vw;
  height: auto;
  margin: 5px 10px;
  overflow: auto;
  padding: 5px 5px;

  overflow: visible;       /* Allow overflow within the box */
  word-wrap: break-word;   /* Ensure text content doesn't overflow the box */
}

